<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/img/bank.png" width="50" height="50" alt="">
      Sistema bancario - Bienvenido {{userName.firstname}} {{userName.lastname}}
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row-reverse" id="navbarText" [collapse]="isCollapsed">
      <span class="navbar-text">
        <button type="button" class="btn btn-link" (click)="logout()">Cerrar sesi&oacute;n</button>
      </span>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <h1 class="display-4">¡Obtén una nueva <b>tarjeta</b> hoy mismo!</h1>
              <p class="lead">Encuentra la tarjeta <b>ideal para ti</b>, y solicítala desde aquí en el catálogo que ponemos a tu disposici&oacute;n.</p>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
              <img src="assets/img/card.png" alt="cards" class="img-fluid" width="300">
          </div>
        </div>

        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02" [(ngModel)]="cardTypeSelected">
                      <option *ngFor="let item of typeCards" [ngValue]="item" selected>{{item.name}}</option>
                    </select>
                    <div class="input-group-append">
                      <label class="input-group-text" for="inputGroupSelect02">Elige un tipo de tarjeta</label>
                    </div>
                </div>
                <div class="alert my-2" role="alert" [hidden]="!genericMessage" [ngClass]="(genericMessage == 'Ocurrió un error al procesar la solicitud.' ? 'alert-danger' : 'alert-success')">
                  <span>{{genericMessage}}</span>
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <button type="button" class="btn btn-success" (click)="requestCard()">Solicitar</button>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <p class="h1">{{arrayAccounts.length > 0 ? 'Mis cuentas' : '¡Aún no tienes cuentas autorizadas! 😥'}}</p>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <accordion [closeOthers]="true">
                  <accordion-group heading="{{item.type}}" *ngFor="let item of arrayAccounts">
                      <div class="card text-center">
                          <div class="card-header">
                              {{item.name}}
                          </div>
                          <div class="card-body">
                            <h5 class="card-title"><img src="assets/img/deposits.png"  width="60"alt=""> Depósitos: {{item.deposits}}</h5>
                            <p class="card-text"><img src="assets/img/withdrawals.jpg" width="50" alt=""> Retiros: {{item.withdrawals}}</p>
                          </div>
                          <div class="card-footer text-muted">
                            <img src="assets/img/balance.jpg" width="50" alt=""> Saldo: {{item.balance}}
                          </div>
                        </div>
                  </accordion-group>
                </accordion>
                <div class="alert alert-danger my-2" role="alert" [hidden]="!accountsMessage">
                    <span>{{accountsMessage}}</span>
                  </div>
          </div>
        </div>
      </div>
    </div>
